/* Global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}


.bodyConnexion {
	background-image: url("../img/logo.png");
	background-size: 400px;
	background-position: center;
	background-attachment: fixed;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	/* Centre horizontalement */
	align-items: center;
	/* Centre verticalement */
	height: 100vh;
	/* Prend toute la hauteur de la page */
	margin: 0;
	/* Supprime les marges par défaut */
}


.login-form {
	background: rgba(255, 255, 255, 0.95);
	/* Fond blanc avec transparence */
	padding: 20px 30px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 300px;
	height: 400px;
}

.login-form h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

.login-form label {
	display: block;
	margin-bottom: 8px;
	color: #555;
	font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

.login-form button {
	width: 100%;
	padding: 10px;
	background-color: #0F1C3F;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.login-form button:hover {
	background-color: #EA5E07;
}

.login-form .forgot-password {
	text-align: center;
	margin-top: 10px;
}

.login-form .forgot-password a {
	color: #0F1C3F;
	text-decoration: none;
	font-size: 14px;
}

.login-form .forgot-password a:hover {
	text-decoration: underline;
}