
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}


form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}


form select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease;
}


form select:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

form select option {
    padding: 10px;
    font-size: 14px;
}

.btn {
    background: linear-gradient(90deg, #ff921e, #ffbe0c);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s, background 0.3s;
    text-align: center;
}

.btn:hover {
    background: linear-gradient(90deg, #ff921e, #ffbe0c);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.btn:active {
    background: linear-gradient(90deg, #ff921e, #ffbe0c);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

.centrer {
    text-align: center;
}