/* Header styles */
header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: #0F1C3F;
	font-size: 30px;
	font-family: Helvetica;
	justify-content: space-between;
}

header img {
	height: 125px;
}

nav ul li a.active {
	background-color: #EA5E07;
	border-radius: 8px;
}

.menu-container {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: flex;
	align-items: center;
}

nav ul li a {
	padding: 0px 8px;
	color: #000000;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	transition: background-color 0.3s ease;
	background-color: #ffffff;
	margin: 0 10px;
}

nav ul li a:hover {
	background-color: #EA5E07;
	border-radius: 8px;
}

.connexion {
	margin-left: auto;
	color: #ffffff;
	text-decoration: none;
	border-radius: 8px;
}

.connexion:hover {
	color: #EA5E07;
}