header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #0F1C3F;
    font-size: 30px;
    font-family: Helvetica;
    justify-content: space-between;
}

header img {
    height: 125px;
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    position: relative; 
}

nav ul li a {
    padding: 0px 8px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
    margin: 0 10px;
}

nav ul li a:hover {
    background-color: #EA5E07;
    border-radius: 8px;
}

nav ul li a.active {
    background-color: #EA5E07;
    border-radius: 8px;
}

.connexion {
    margin-left: auto;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
}

.connexion:hover {
    color: #EA5E07;
}

.dropdown-menu {
    display: none;         
    position: absolute;    
    top: 100%;             
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 6px;
    min-width: 120px;     
    padding: 3px 0;        
    z-index: 9999;       
}

.dropdown-menu li {
    display: block; 
    margin: 0;      
}

.dropdown-menu li a {
	font-size: 1.2rem;
    margin: 0;              
    padding: 8px 16px;      
    background-color: #ffffff;
    color: #000000;
    border-radius: 0;        
    display: block;          
}

.dropdown-menu li a:hover {
    background-color: #EA5E07;
    color: #ffffff;
    border-radius: 0;
}


.dropdown:hover .dropdown-menu {
    display: block;
}
